# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Output binary pages & local test preview images
pages/
books/
*.bin
*.png
!assets/*.png

# IDE and OS
.DS_Store
Thumbs.db
.vscode/
.idea/

#Context
context.md